{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Password Reset</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">
    <link rel="icon" type="image/x-icon" href="{% static "images/logo/favicon-tran.png" %}">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
        rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css" href="{% static "vendor/spinkit.css" %}" rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="{% static "vendor/perfect-scrollbar.css" %}" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="{% static "css/material-icons.css" %}" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css" href="{% static "css/fontawesome.css" %}" rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css" href="{% static "css/preloader.css" %}" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="{% static "css/app.css" %}" rel="stylesheet">

</head>

<body class="layout-default layout-login-centered-boxed">
    <div style="margin-bottom: -10px;background-image: url(/static/images/logo/logo-white.png);background-repeat: no-repeat;background-size: contain;" class="layout-login-centered-boxed__form card">

    </div>
    <div class="layout-login-centered-boxed__form card">
        {% if status %}
       
            <div class="alert alert-soft-danger d-flex" role="alert">
                <i class="material-icons mr-12pt">check_circle</i>
                <div class="text-body">{{status}}.</div>
            </div>
        
        {% else %}
            <div class="alert alert-soft-info d-flex" role="alert">
                <i class="material-icons mr-12pt">check_circle</i>
                <div class="text-body">Create New Password.</div>
            </div>
        {% endif %}
        <!-- <a href="index.html" class="btn btn-light btn-block mb-24pt">
            <span class="fab fa-google icon--left"></span>
            Continue with Google
        </a> -->

        <div class="page-separator justify-content-center">
            <div class="page-separator__text bg-white">QEC</div>
        </div>

        <form method="POST" action="/create/new-password/{{usrId}}/">
            {% csrf_token %}
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}">
            {% endif %}
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <div style="border: 1px solid grey;" class="input-group input-group-merge">

                            <input type="password" id="password"
                                class="form-control form-control-prepended" name="password" required=""
                                placeholder="Normal Password">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="material-icons">lock_outline</span>
                                </div>

                            </div>
                            <div class="input-group-text">
                                <span class="material-icons" id="togglePassword"
                                    style="cursor: pointer;">remove_red_eye</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <div style="border: 1px solid grey;" class="input-group input-group-merge">
                            <input type="password" name="passwordComfirm" id="comfirmPassword"
                                class="form-control form-control-prepended" required=""
                                placeholder="Comfirm Password">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="material-icons">lock_outline</span>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <span class="material-icons" id="toggleComfirmPassword"
                                    style="cursor: pointer;">remove_red_eye</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
     
            
            <div class="form-group">
                <button class="btn btn-block btn-primary" type="submit">Login</button>
            </div>
            <a href="/sing-in/">
            <div class="form-group text-center">Sing-in instead?
                </a> <br>
                Don't have an account? <a class="text-body text-underline" href="/register-nu/">Sign up!</a>
            </div>
        </form>
    </div>
    <script>

        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");
        const toggleComfirmPassword = document.querySelector("#toggleComfirmPassword");
        const comfirmPassword = document.querySelector("#comfirmPassword");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);

            // toggle the icon
            // this.classList.toggle("bi-eye");
        });
        toggleComfirmPassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = comfirmPassword.getAttribute("type") === "password" ? "text" : "password";
            comfirmPassword.setAttribute("type", type);

            // toggle the icon
            // this.classList.toggle("bi-eye");
        });
     
    </script>

    <!-- jQuery -->
    <script src="{% static "vendor/jquery.min.js" %}"></script>

    <!-- Bootstrap -->
    <script src="{% static "vendor/popper.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap.min.js" %}"></script>

    <!-- Perfect Scrollbar -->
    <script src="{% static "vendor/perfect-scrollbar.min.js" %}"></script>

    <!-- DOM Factory -->
    <script src="{% static "vendor/dom-factory.js" %}"></script>

    <!-- MDK -->
    <script src="{% static "vendor/material-design-kit.js" %}"></script>

    <!-- App JS -->
    <script src="{% static "js/app.js" %}"></script>

    <!-- Preloader -->
    <script src="{% static "js/preloader.js" %}"></script>

</body>

</html>