{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Password Reset</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">
    <link rel="icon" type="image/x-icon" href="{% static "images/logo/favicon-tran.png" %}">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
        rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css" href="{% static "vendor/spinkit.css" %}" rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="{% static "vendor/perfect-scrollbar.css" %}" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="{% static "css/material-icons.css" %}" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css" href="{% static "css/fontawesome.css" %}" rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css" href="{% static "css/preloader.css" %}" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="{% static "css/app.css" %}" rel="stylesheet">

</head>

<body class="layout-default layout-login-centered-boxed">
    <div class="modal" id="resetPasswordModal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">PASSWORD RESETING</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="sendedCodeForm">
                <div class="modal-body" id="resetPasswordModalBody">
                    <div class="text-center">
                        <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Active Code</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
           
          </div>
        </div>
      </div>
    <div style="margin-bottom: -10px;background-image: url(/static/images/logo/logo-white.png);background-repeat: no-repeat;background-size: contain;" class="layout-login-centered-boxed__form card">

    </div>
    <div class="layout-login-centered-boxed__form card">
            <div id="resetPasswordStatus" >
                <div class="alert alert-soft-info d-flex" role="alert">
                    <i class="material-icons mr-12pt">check_circle</i>
                    <div id class="text-body">Enter your email to reset you password.</div>
                </div>
            </div>

        <!-- <a href="index.html" class="btn btn-light btn-block mb-24pt">
            <span class="fab fa-google icon--left"></span>
            Continue with Google
        </a> -->

        <div class="page-separator justify-content-center">
            <div class="page-separator__text bg-white">QEC</div>
        </div>

        <form method="POST" id="resetPasswordForm">
            {% csrf_token %}
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}">
            {% endif %}
            <div class="form-group">
                <label class="text-label" for="email_2">Email Address:</label>
                <div class="input-group input-group-merge">
                    <input id="text" type="text" required name="username" class="form-control form-control-prepended"
                        placeholder="john@doe.com">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="far fa-envelope"></span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <button class="btn btn-block btn-primary" type="submit">Reset</button>
            </div>
            <a href="/sing-in/">
            <div class="form-group text-center">Sing-in instead?
                </a> <br>
                Don't have an account? <a class="text-body text-underline" href="/register-nu/">Sign up!</a>
            </div>
        </form>
    </div>
    <script>
        document.getElementById('resetPasswordForm').addEventListener('submit',async function (e) {
            e.preventDefault()
            
            username=$('[name=username]').val()
            $('#resetPasswordModal').modal('show')
            $('#resetPasswordModal').modal({
                    backdrop: 'static',
                    keyboard: false
                });
            await fetch('/api/send-reset-password-code/' + username + '/').then((resp) => resp.json()).then(function (respData) {
                console.log(respData)
                if(respData.status==200){
                    document.getElementById('resetPasswordModalBody').innerHTML=`
                    <h5 style="font-weight:bold">Enter activated code.</h5>
                    <input style="border:1px solid grey;" class="form-control form-control-lg" type="number" name="sendedCode" placeholder="00 00 00">
                    `
                }else{
                    $('#resetPasswordModal').modal('hide')
                    document.getElementById('resetPasswordStatus').innerHTML=`
                        <div class="alert alert-soft-wrong d-flex" role="alert">
                            <i class="material-icons mr-12pt">check_circle</i>
                            <div id class="text-body">please enter correct email.</div>
                        </div>
                    `
                }
            
                document.getElementById('sendedCodeForm').addEventListener('submit',function (e) {
                    e.preventDefault()
                    sendedCode=$('[name=sendedCode]').val()
                    if((parseInt(sendedCode)-parseInt(respData.theUserId))==parseInt(respData.sendedCode)){
                        location.href=`/create/new-password/${respData.theUserId}/`
                    }else{
                        document.getElementById('resetPasswordModalBody').innerHTML=`
                        <h5 style="font-weight:bold">Wrong code please check you email again</h5>
                        <input style="border:1px solid red;" class="form-control form-control-lg" type="number" name="sendedCode" placeholder="00 00 00">
                    `
                    }
                    
                    
                })
            })
            
        })
    </script>

    <!-- jQuery -->
    <script src="{% static "vendor/jquery.min.js" %}"></script>

    <!-- Bootstrap -->
    <script src="{% static "vendor/popper.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap.min.js" %}"></script>

    <!-- Perfect Scrollbar -->
    <script src="{% static "vendor/perfect-scrollbar.min.js" %}"></script>

    <!-- DOM Factory -->
    <script src="{% static "vendor/dom-factory.js" %}"></script>

    <!-- MDK -->
    <script src="{% static "vendor/material-design-kit.js" %}"></script>

    <!-- App JS -->
    <script src="{% static "js/app.js" %}"></script>

    <!-- Preloader -->
    <script src="{% static "js/preloader.js" %}"></script>

</body>

</html>